In [ ]:
!pip install opendatasets

Requirement already satisfied: opendatasets in /usr/local/lib/python3.12/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from opendatasets) (4.67.3)
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from opendatasets) (8.3.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (5.29.6)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (0.5.1)

In [ ]:
import opendatasets as od
od.download('https://www.kaggle.com/datasets/parisrohan/credit-score-classification?select=train.csv')

Skipping, found downloaded files in "./credit-score-classification" (use force=True to force download)

#cleaning

In [ ]:
import pandas as pd
df=pd.read_csv('/content/credit-score-classification/train.csv')

/tmp/ipython-input-2418852007.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/credit-score-classification/train.csv')

In [ ]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [ ]:
print(f"Missing\n{df.isnull().sum()}")  #bos deyerler

Missing
ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [ ]:
df = df.dropna(axis=0)  #bos olan nan olan setirleri silir
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df = df.drop_duplicates()
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53049 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        53049 non-null  object
 1   Customer_ID               53049 non-null  object
 2   Month                     53049 non-null  object
 3   Name                      53049 non-null  object
 4   Age                       53049 non-null  object
 5   SSN                       53049 non-null  object
 6   Occupation                53049 non-null  object
 7   Annual_Income             53049 non-null  object
 8   Monthly_Inhand_Salary     53049 non-null  float64
 9   Num_Bank_Accounts         53049 non-null  int64
 10  Num_Credit_Card           53049 non-null  int64
 11  Interest_Rate             53049 non-null  int64
 12  Num_of_Loan               53049 non-null  object
 13  Type_of_Loan              53049 non-null  object
 14  Delay_from_due_date       53049 non-null  int64
 15  Num_of_Delayed_Payment    53049 non-null  object
 16  Changed_Credit_Limit      53049 non-null  object
 17  Num_Credit_Inquiries      53049 non-null  float64
 18  Credit_Mix                53049 non-null  object
 19  Outstanding_Debt          53049 non-null  object
 20  Credit_Utilization_Ratio  53049 non-null  float64
 21  Credit_History_Age        53049 non-null  object
 22  Payment_of_Min_Amount     53049 non-null  object
 23  Total_EMI_per_month       53049 non-null  float64
 24  Amount_invested_monthly   53049 non-null  object
 25  Payment_Behaviour         53049 non-null  object
 26  Monthly_Balance           53049 non-null  object
 27  Credit_Score              53049 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 11.7+ MB

In [ ]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # sÉ™hvli dÉ™yÉ™rlÉ™ri NaN edÉ™cÉ™k
df['Age'] = df['Age'].astype('Int64')  # int tipinÉ™ Ã§evirir, NaN-larÄ± saxlayÄ±r

# NÉ™ticÉ™ni yoxlamaq
print(df.dtypes)
print(df['Age'].head())

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           Int64
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object
0       23
6       23
8     <NA>
9       28
10      28
Name: Age, dtype: Int64

In [ ]:
Q1 = df['Monthly_Inhand_Salary'].quantile(0.25)
Q3 = df['Monthly_Inhand_Salary'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['Monthly_Inhand_Salary'] >= Q1 - 1.5*IQR) &
        (df['Monthly_Inhand_Salary'] <= Q3 + 1.5*IQR)]
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,<NA>,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df['Age'] = df['Age'].astype(str)
df['Age'] = df['Age'].str.replace(r'\D', '', regex=True)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')
df

/tmp/ipython-input-2596174013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].astype(str)
/tmp/ipython-input-2596174013.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].str.replace(r'\D', '', regex=True)
/tmp/ipython-input-2596174013.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('Int64')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,<NA>,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].round(0).astype('Int64')
df

/tmp/ipython-input-3865087481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].round(0).astype('Int64')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51750 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        51750 non-null  object
 1   Customer_ID               51750 non-null  object
 2   Month                     51750 non-null  object
 3   Name                      51750 non-null  object
 4   Age                       49194 non-null  Int64
 5   SSN                       51750 non-null  object
 6   Occupation                51750 non-null  object
 7   Annual_Income             51750 non-null  object
 8   Monthly_Inhand_Salary     51750 non-null  Int64
 9   Num_Bank_Accounts         51750 non-null  int64
 10  Num_Credit_Card           51750 non-null  int64
 11  Interest_Rate             51750 non-null  int64
 12  Num_of_Loan               51750 non-null  object
 13  Type_of_Loan              51750 non-null  object
 14  Delay_from_due_date       51750 non-null  int64
 15  Num_of_Delayed_Payment    51750 non-null  object
 16  Changed_Credit_Limit      51750 non-null  object
 17  Num_Credit_Inquiries      51750 non-null  float64
 18  Credit_Mix                51750 non-null  object
 19  Outstanding_Debt          51750 non-null  object
 20  Credit_Utilization_Ratio  51750 non-null  float64
 21  Credit_History_Age        51750 non-null  object
 22  Payment_of_Min_Amount     51750 non-null  object
 23  Total_EMI_per_month       51750 non-null  float64
 24  Amount_invested_monthly   51750 non-null  object
 25  Payment_Behaviour         51750 non-null  object
 26  Monthly_Balance           51750 non-null  object
 27  Credit_Score              51750 non-null  object
dtypes: Int64(2), float64(3), int64(4), object(19)
memory usage: 11.5+ MB

In [ ]:
df['ID'] = df['ID'].str.upper()
print(df['ID'].head())

0     0X1602
6     0X1608
8     0X160E
9     0X160F
10    0X1610
Name: ID, dtype: object

/tmp/ipython-input-1657358967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ID'] = df['ID'].str.upper()

In [ ]:
# SÃ¼tunu É™vvÉ™lcÉ™ string tipinÉ™ Ã§evir
df['Annual_Income'] = df['Annual_Income'].astype(str)

# SonundakÄ± "_" simvolunu silmÉ™k
df['Annual_Income'] = df['Annual_Income'].str.replace(r'_+$', '', regex=True)

# NÉ™ticÉ™ni yoxlamaq
print(df['Annual_Income'].head())

0     19114.12
6     19114.12
8     34847.84
9     34847.84
10    34847.84
Name: Annual_Income, dtype: object

/tmp/ipython-input-1698438300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Income'] = df['Annual_Income'].astype(str)
/tmp/ipython-input-1698438300.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Annual_Income'] = df['Annual_Income'].str.replace(r'_+$', '', regex=True)

In [ ]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,CUS_0x21b1,January,Rick Rothackerj,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0X1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0X25FE9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0X25FEA,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0X25FEB,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0X25FED,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
# Ä°cazÉ™ verilÉ™n dÉ™yÉ™rlÉ™r
allowed_values = [
    'High_spent_Small_value_payments',
    'Low_spent_Small_value_payments'
]

# ÅžÉ™rtÉ™ uyÄŸun olmayanlarÄ± None etmÉ™k
df.loc[~df['Payment_Behaviour'].isin(allowed_values), 'Payment_Behaviour'] = None
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,CUS_0x21b1,January,Rick Rothackerj,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,None,484.5912142650067,Good
10,0X1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,None,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,None,410.256158,Poor
99995,0X25FE9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,None,479.866228,Poor
99996,0X25FEA,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,None,496.65161,Poor
99997,0X25FEB,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,None,516.809083,Poor
99999,0X25FED,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,None,393.673696,Poor

In [ ]:
df['Name'] = df['Name'].str.split().str[0]

/tmp/ipython-input-919802402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'] = df['Name'].str.split().str[0]

In [ ]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,CUS_0xd40,January,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,CUS_0xd40,July,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,CUS_0x21b1,January,Rick,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,CUS_0x21b1,February,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,None,484.5912142650067,Good
10,0X1610,CUS_0x21b1,March,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,None,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,None,410.256158,Poor
99995,0X25FE9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,None,479.866228,Poor
99996,0X25FEA,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,None,496.65161,Poor
99997,0X25FEB,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,None,516.809083,Poor
99999,0X25FED,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,None,393.673696,Poor

In [ ]:
df['Customer_ID'] = df['Customer_ID'].str.lower()
df

/tmp/ipython-input-3051985904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Customer_ID'] = df['Customer_ID'].str.lower()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,cus_0xd40,January,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,cus_0xd40,July,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,cus_0x21b1,January,Rick,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,cus_0x21b1,February,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,None,484.5912142650067,Good
10,0X1610,cus_0x21b1,March,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,None,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,cus_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,None,410.256158,Poor
99995,0X25FE9,cus_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,None,479.866228,Poor
99996,0X25FEA,cus_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,None,496.65161,Poor
99997,0X25FEB,cus_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,None,516.809083,Poor
99999,0X25FED,cus_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,None,393.673696,Poor

In [ ]:
df['Amount_invested_monthly'] = pd.to_numeric(
    df['Amount_invested_monthly'], errors='coerce'
).round(0).astype('Int64')

/tmp/ipython-input-2464924007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amount_invested_monthly'] = pd.to_numeric(

In [ ]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,cus_0xd40,January,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,cus_0xd40,July,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,cus_0x21b1,January,Rick,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,cus_0x21b1,February,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40,None,484.5912142650067,Good
10,0X1610,cus_0x21b1,March,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,59,None,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,cus_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,141,None,410.256158,Poor
99995,0X25FE9,cus_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,61,None,479.866228,Poor
99996,0X25FEA,cus_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54,None,496.65161,Poor
99997,0X25FEB,cus_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24,None,516.809083,Poor
99999,0X25FED,cus_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167,None,393.673696,Poor

In [ ]:
df['Total_EMI_per_month'] = pd.to_numeric(
    df['Total_EMI_per_month'], errors='coerce'
).map('{:.2f}%'.format)
df

/tmp/ipython-input-1184001174.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_EMI_per_month'] = pd.to_numeric(

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0X1602,cus_0xd40,January,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.57%,80,High_spent_Small_value_payments,312.49408867943663,Good
6,0X1608,cus_0xd40,July,Aaron,23,821-00-0265,Scientist,19114.12,1825,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.57%,178,Low_spent_Small_value_payments,244.5653167062043,Good
8,0X160E,cus_0x21b1,January,Rick,<NA>,004-07-5839,_______,34847.84,3038,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.82%,104,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0X160F,cus_0x21b1,February,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.82%,40,None,484.5912142650067,Good
10,0X1610,cus_0x21b1,March,Rick,28,004-07-5839,Teacher,34847.84,3038,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.82%,59,None,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0X25FE8,cus_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.10%,141,None,410.256158,Poor
99995,0X25FE9,cus_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.10%,61,None,479.866228,Poor
99996,0X25FEA,cus_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.10%,54,None,496.65161,Poor
99997,0X25FEB,cus_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.10%,24,None,516.809083,Poor
99999,0X25FED,cus_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99,3359,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.10%,167,None,393.673696,Poor

In [ ]:
# df.to_csv('clean_credit_data.csv', index=False)

In [ ]:
# from google.colab import files
# files.download('clean_credit_data.csv')